# DO NOT include .env.keys (private key) in the image
.env.keys
# ignore local only
.env

.git/
.next/
node_modules/

# other files
.DS_Store
Dockerfile
Dockerfile.*
README.md

# IDE and virtual environment
.idea/
.vscode/

# unused files
private/
refs/
data/