rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      // 自分のユーザー情報のみ読み込み可能
      allow read: if isSignedIn() && resource.data.firebase_uid == request.auth.uid;
      allow write: if false;

      function userDate() {
        return get(/databases/$(database)/documents/users/$(userId)).data
      }

      match /keywords/{keywordId} {
        // 自分のキーワード情報のみ読み込み可能
        allow read: if isSignedIn() && userDate().firebase_uid == request.auth.uid;
        allow write: if false;
      }

      match /likes/{likeId} {
        // 自分のライク情報のみ読み込み可能
        allow read: if isSignedIn() && userDate().firebase_uid == request.auth.uid;
        allow write: if false;
      }
    }

    match /radio_shows/{radioShowId} {
      // ラジオ番組は全ユーザーが読み込み可能
      allow read: if isSignedIn();
      allow write: if false;
    }
  }
}