rules_version = '2';
service firebase.storage {
  function isSignedIn() {
    return request.auth != null;
  }

  match /b/{bucket}/o {
    // /private 以下は一切のアクセスを禁止
    match /private/{allPaths=**} {
      allow read, write: if false;
    }

    // /public 以下は認証済みユーザーに対して read のみ許可
    match /public/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if false;
    }
  }
}
