.isometricGame {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  color: #000;
  /* iOS safari以外はこれで画面外のスクロールを禁止できる */
  overscroll-behavior: none;
}

.gameInner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw; 
  height: 100vh;
  transform: translate(-50%, -50%);
  background-color: #dfdfdf;
  /* iOS safari以外はこれで画面外のスクロールを禁止できる */
  overscroll-behavior: none;
}

.camera {
  position: relative;
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;

  img .tile {
    -webkit-user-drag: none; /* Chrome, Safari */
    -webkit-user-select: none; /* Safari, Chrome */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    user-select: none;
  }
}

.player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  img .tile {
    -webkit-user-drag: none; /* Chrome, Safari */
    -webkit-user-select: none; /* Safari, Chrome */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    user-select: none;
  }
}
