.isometricGame {
  /* 画面サイズを固定したい例 */
  width: 800px;
  height: 600px;
  /* position: relative; */
  /* overflow: hidden; */
  /* background-color: #333; */
  /* color: #fff; */
  /* border: 2px solid #444; */
  /* border-radius: 8px; */
}

.gameInner {
  width: 100%;
  height: 100%;
  position: relative; 
  background-color: blue;
}