.isometricGame {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  color: #000;
}

.gameInner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px; /* 800px is the width of the game */
  height: 600px; /* 600px is the height of the game */
  transform: translate(-50%, -50%);
  background-color: red;
}

.camera {
  position: relative;
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;

  img {
    -webkit-user-drag: none; /* Chrome, Safari */
    -webkit-user-select: none; /* Safari, Chrome */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    user-select: none;
  }
}

.player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  img {
    -webkit-user-drag: none; /* Chrome, Safari */
    -webkit-user-select: none; /* Safari, Chrome */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    user-select: none;
  }
}
